@using MvcCV.Models.Entity;
@model List<TBLDENEYİMLERİM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Deneyim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var ıtem in Model)
    {
    <tr>
        <td> @ıtem.ID </td>
        <td> @ıtem.BASLIK </td>
        <td> @ıtem.ALBASLIK </td>
        <td> @ıtem.TARİH </td>
        <td><a href="/Deneyim/DeneyimSil/@ıtem.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Deneyim/DeneyimGetir/@ıtem.ID" class="btn btn-success">Düzenle</a></td>
    </tr>
    }

</table>
<a href="/Deneyim/Deneyimekle" class="btn btn-primary">Yeni Deneyim Ekle</a>


